*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:#081b31 ;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height:165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 160px;
    width: 165px;
    border-radius: 50%;
    
   
}

.choice:hover{
    background-color: #081b31;

    cursor: pointer;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 0rem;
    gap: 3rem;
    
}

#score,
#score-comp{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
   
    background-color: #081b31;
    color: white;
    font-size: 1.8rem;
    display: inline;
    border-radius: 0.6rem ;
}